@font-face {
  font-family: 'DMSerif';
  src: url('/fonts/DMSerifText-Regular.woff2');
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Thin.woff2');
}

body {
  background-color: #150909;
  /*color: #eed2d2;*/
  color: #f8f8fa;
  max-width: 800px;
  margin: 10px;
  font-family: 'Montserrat';
  font-size: 12pt;
}

h1 {
  color: #f8f8fa;
  font-size: 3rem;
  font-family: 'DMSerif';
}

img {
  max-width: 100%;
  height: auto;
  width: auto\9;
  border-radius: 10px;
}

a.red:link {
  color: #e81414;
}

a {
  color: #f8f8fa;
}

/* NAV BAR */
.navbar ul {
  border-radius: 25px;
  list-style-type: none;
  background-color: #6c0e0e;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.navbar a {
  font-weight: bolder;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.navbar a:hover {
  background-color: #ba1818;
}

.navbar li {
  float: left;
}
/* END NAV BAR */

/* table cells */
th {
  padding-bottom: 10px;
}

td {
  padding: 15px;
  text-align: left;
  max-width: 900px;
}
/* end table cells */

/* book summary Center the entire page on a book summary (currently Witches 1 Only) */
.booksummary {
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}
/* end book summary */

/*max out the size of a book cover*/
.bookcover img {
  max-width: 400px;
  max-height: 800px;
}